
<div>
    <div class="card shadow p-3 bg-white rounded crd-user">
      <div class=" d-flex justify-content-between">
          <h2>Lista de Usuarios</h2>

              <div class="input-group" >
                  <input type="text" formControlName="userform  " class="form-control" pattern="\b(?!\bdoublevpartners\b)[a-zA-Z']+\b" placeholder="Usuario" aria-describedby="basic-addon2" #userName required>
                  <button class="btn btn-outline-secondary" (click)="searchName(userName.value)">Buscar</button>
                </div>
          
      </div>
      <div>    
        <table class="table table-hover">
          <thead > 
            <tr>
            <th>ID</th>
            <th>Usuario</th>
           </tr>
          </thead>
          <tr class="rowHover" *ngFor="let user of users.slice(0,10)" (click)="gouser(user.login);">  
            <td>{{user.id}}</td>
            <td>{{user.login}}</td>
            
          </tr>
        </table>
      </div>
    </div>
  
  </div>
