
<div>
    <div class="card shadow p-3 bg-white rounded crd-user">
      <div class=" d-flex justify-content-between">
          <h2>Lista de Usuarios</h2>
          <form class="form-inline ">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Usuario" aria-label="Fecha a consultar" aria-describedby="basic-addon2">
                  <button class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
          </form>
      </div>
      <div>    
        <table class="table table-hover">
          <thead > 
            <tr>
            <th>ID</th>
            <th>Usuario</th>
           </tr>
          </thead>
          <tr class="rowHover" *ngFor="let user of users.slice(0,10)" (click)="gouser(user.login);">  
            <td>{{user.id}}</td>
            <td>{{user.login}}</td>
            
          </tr>
        </table>
      </div>
    </div>
  
  </div>
